.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.vscode
node_modules
out
!out/doorsSmores.js
src/
tsconfig.json
webpack.config.js
azure-pipelines.yml