.block {
  cursor: context-menu;
}
.autogrow {
  display: grid;
  font-family: var(--vscode-editor-font-family);
  width: 100%;
}
.autogrow::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.autogrow > textarea {
  resize: none;
  overflow: hidden;
  cursor: text;
}
  /* Identical styling required!! */
.autogrow > textarea, .autogrow::after {
  color: var(--vscode-editor-foreground);
  background: var(--vscode-input-background);				
  border: none;
  padding: 0.5rem;
  font: inherit;
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
