h1.frontpage {
  padding-top: 18cm;
  text-align: center;
  font-family: Arial;
  font-size: 20pt;
}
h2.frontpage {
  text-align: center;
  font-family: Arial;
  font-size: 16pt;
}
h3.frontpage {
  text-align: center;
  font-family: Arial;
  font-size: 12pt;
}

table.history {
  position:relative;
  border-collapse: collapse;
  table-layout: auto;
  left: 0cm;
  width: 100%; /* 21 - (2.5 left, 2.5 right */
}
table, td, th {
  border: 1px solid;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  margin-top: 3pt;
  margin-bottom: 3pt;
}

table.history tr>td:nth-child(1) {
  width: 20%;
}
table.history tr>td:nth-child(2) {
  width: 5%;
}
table.history tr>td:nth-child(3) {
  width: 55%;
}
table.history tr>td:nth-child(4) {
  width: 20%;
}
