/* Heading number scheme */
body {
  width:21cm;
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editor-background)
}

div.section {
  position: relative;
}

.tabStop {
  position: absolute;
  left: 1.5cm;
}

button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-border,transparent);
  box-sizing: border-box;
  width: 3cm;
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  line-height: 18px;
}
button:hover {
  background-color: var(--vscode-button-hoverBackground);
}
button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
}
button.secondary:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}

/* Fonts */
body {
  margin: 0;
  padding: 0;
}

/* Normal */
p, h1, h2, h3, h4, code, table, td, th{
  position: relative;
  font-family: Arial;
  font-size: 10pt;
  margin: 0;
  margin-bottom: 12pt;
  padding: 0;
}
li, ol, ul {
  position: relative;
  font-family: Arial;
  font-size: 10pt;
}
.indented {
  margin-left: 1.5cm;
  width: 19.5cm;
}
.imageHolder {
  margin-left: 1.5cm;
  width: 19.5cm;
  text-align: center;
  position: relative;
}
h1 {
  font-size: 12pt;
}
h2 {
  font-size: 11pt;
}
h4 {
  font-style: italic;
}
code {
  font-family: 'Courier New', Courier, monospace;
}
.tableText {
  margin-top: 3pt;
  margin-bottom: 3pt;
}
.tableSmall {
  margin-top: 3pt;
  margin-bottom: 3pt;
  font-size: 7pt;
  vertical-align: top;
}
.tableTitle {
  font-weight: bold;
}

/* Table formatting */
table {
  position:relative;
  border-collapse: collapse;
  table-layout: fixed;
  left: 0cm;
  width: 19.5cm; /* 21 - (2.5 left, 2.5 right, 1.5 indent) */
}
table, td, th {
  border: 1px solid;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  margin-top: 3pt;
  margin-bottom: 3pt;
}

table.heading, td.heading {
  border:none;
  padding-left: 0;
  padding-right: 0;
}
table.heading tr>td:first-child {
  width: 1.5cm;
}
table.indented2ColSmall {
  margin-left: 1.5cm;
}
table.indented2ColSmall tr>td:first-child {
  width: 1.5cm;
}
