body {
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editor-background);
  --menu-size:25px;
  --menu-gap:5px;
}
body.projectView {
  color: var(--vscode-sideBar-foreground);
  background: var(--vscode-sideBar-background);
}
button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-border,transparent);
  box-sizing: border-box;
  width: 20%;
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  line-height: 18px;
}
button:hover {
  background-color: var(--vscode-button-hoverBackground);
}
button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
}
button.secondary:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}
.buttonContainer {
  position:relative;
  justify-content: space-evenly;
  display: flex;
}
/* Tooltips */
.tooltip {
  display: block;
  position:relative;
}
.toolTipText {
  position: absolute;
  bottom: 110%
}
.tooltip .toolTipText {
  visibility: hidden;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border: solid;
  border-color: var(--vscode-input-border);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  z-index: 1;
}
@media screen {
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .toolTipText {
    visibility: visible;
    transition-delay:2s;
  }
  .tooltip:hover .viewDiv {
    background-color: var(--vscode-editor-hoverHighlightBackground);
    transition-delay:2s;
  }
}
.helpText {
  position: absolute;
  visibility: hidden;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border:solid;
  border-color: var(--vscode-input-border);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  bottom: 110%; 
  width:85%;
}
.editDiv {
  position:relative;
  width:80%;
  display:flex;
  flex-direction: column;
  margin-top: 1cm;
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 1cm;
}
.editBox {
  height: 300px;
}
.webviewDiv {
  margin-left:calc(var(--menu-size) + var(--menu-gap));
}
.toolbarDiv {
  display:flex;
  flex-direction: column;
  position:fixed;
  left:0;
  top:0;
  width:var(--menu-size);
}
.hiddenToolbar {
  visibility: hidden;
}
.toolbarButton {
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editor-background);
  border: 1px solid var(--vscode-button-border,transparent);
  display:flex;
  width:100%;
  height: var(--menu-size);
  box-sizing: border-box;
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  cursor:crosshair;
  justify-content: center;
  align-items: center;
}
.toolbarButton:enabled:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}
.toolbarButton:disabled:hover {
  background-color: var(--vscode-editor-background);
}
.tooltip .toolTipText {
  visibility: hidden;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border: solid;
  border-color: var(--vscode-input-border);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  z-index: 1;
}
.toolBarTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.toolBarTooltip .toolBarTooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 105%;
  margin-left: 0px;
  opacity: 0;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay:2s;
}
.ursLevelIconColour {
  color: var(--vscode-terminal-ansiGreen);
}
.srsLevelIconColour {
  color: var(--vscode-debugConsole-errorForeground);
}
.adsLevelIconColour {
  color: var(--vscode-debugConsole-infoForeground);
}
.ddsLevelIconColour {
  color: var(--vscode-debugConsole-warningForeground);
}
.FRIconColour {
  color: var(--vscode-debugConsole-errorForeground);
}
.NFRIconColour {
  color: var(--vscode-debugConsole-warningForeground);
}
.DCIconColour {
  color: var(--vscode-debugIcon-restartForeground);
}
.textIconColour {
  color: var(--vscode-editor-foreground);
}
.imageIconColour {
  color: var(--vscode-debugConsole-warningForeground);
}
.mermaidIconColour {
  color: var(--vscode-debugIcon-restartForeground);
}
.disabledIconColour {
  color: var(--vscode-disabledForeground) !important;
}
