.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: left;
  height: 1.5em;
  opacity: .5;
}
.hr-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16cm;
  height: 1px;
  background:var(--vscode-textPreformat-foreground);
}
.hr-text::after {
  content: attr(data-content);
  position: relative;
  left:7cm;
  display: inline-block;
  color:var(--vscode-textPreformat-foreground);
  background: var(--vscode-editor-background);
  padding: 0 .5em;
  line-height: 1.5em;
}

h1 {
  page-break-before:always;
  break-before: page;
}
@media print {
  body {
    color: black; 
  }
  .pageBreak {
    visibility: hidden;
  }
}
@media screen {
  .pageBreak {
    visibility: visible;
  }
  hr:first-of-type {
    visibility: hidden;
  }
}