/* Tooltip container */
.tooltip {
  display: block;
  position:relative;
}
.toolTipText {
  position: absolute;
  bottom: 110%
}

/* Tooltip text */
.tooltip .toolTipText {
  visibility: hidden;
  color: var(--tooltip-foreground);
  background-color: var(--tooltip-background);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  z-index: 1;
}
.buttonContainer {
  position:relative;
}
.helpButton {
  color: var(--helpButton-foreground);
  background-color: var(--helpButton-background);
  text-align: center;
  padding: 5px 5px;
  border-radius: 10px;
}
.helpText {
  position: absolute;
  visibility: hidden;
  color: var(--helpText-foreground);
  background-color: var(--helpText-background);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  bottom: 110%; 
  width:16cm;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .toolTipText {
  visibility: visible;
  transition-delay:2s;
}

.editDiv {
  position:relative;
  width:16cm;
  display:flex;
  flex-direction: column;
}
.editBox {
  height: 300px;
}

