
:root {
  --webview-foreground:var(--vscode-editor-foreground);
  --webview-background:var(--vscode-editor-background);
  --tooltip-foreground:var(--vscode-editor-foreground);
  --tooltip-background:var(--vscode-editor-selectionBackground);
  --pageBreak-foreground:var(--vscode-editorWarning-foreground);
  --pageBreak-background:var(--vscode-editor-background);
  --helpButton-foreground:var(--vscode-symbolIcon-classForeground);
  --helpButton-background:var(--vscode-editor-selectionBackground);
  --helpText-foreground:var(--vscode-editor-foreground);
  --helpText-background:var(--vscode-editor-selectionBackground);
}