/* Tooltip container */

table, td, th {
  border: 1px solid;
  padding-left: 0.2cm;
  padding-right: 0.2cm;
  margin-top: 3pt;
  margin-bottom: 3pt;
}
table.indented2ColSmall {
  width:10cm !important;
  margin-left: 0cm !important;
}

table.heading, td.heading {
  border:none;
  padding-left: 0;
  padding-right: 0;
}

i.tracing {
  text-align: center;
  vertical-align: middle;
}
button.tracing {
  color: var(--vscode-editor-foreground);
  background-color: transparent;
  border: none;
  box-sizing: unset;
  width: 0.5cm;
  height: 0.5cm;
  padding: 0;
  border-radius: 2px;
}
button.tracing:hover {
  color: var(--vscode-editor-background);
  background-color: var(--vscode-editor-foreground);
}

/* Tracing */
body.tracing {
  position: absolute;
  margin: 0;
  padding: 0;
}
div.tracingOuter {
  position: relative;
}
div.tracingArrow {
  position: absolute;
  overflow: visible;
}
div.tracingGrid {
  display: grid;
  grid-template-columns: 10cm auto;
  grid-gap:2cm;
}

div.traceContainer {
  display:flex;
  flex-direction: column;
  position: relative;
}
div.tracing {
  width: 10cm !important;
}
div.traceTitle {
  width:3cm !important;
}
div.traceNew {
  position:relative;
  left: 0.5cm;
}
h3.tracing {
  margin-bottom: 3pt;
}
table.traceView {
  width:10cm;
}
table.traceView, td.traceHealth {
  border: none;
}
table.traceView td {
  width: 0.3cm;
  padding-top: 0.1cm;
  padding-left: 0.1cm;
  padding-right: 0.1cm;
}
table.traceView tr>td:nth-child(2) {
  width: 1.5cm;
  padding-top:0;
  border: 1px solid;
}
table.traceView tr>td:nth-child(3) {
  width: 5cm;
  padding-top:0;
  border: 1px solid;
}
